In [3]:
import pandas as pd
import numpy as np
info = pd.DataFrame([[2,7]]*3, columns = ['P','Q'])
print(info)

   P  Q
0  2  7
1  2  7
2  2  7

In [4]:
print(info.apply(np.sum, axis = 0))

P     6
Q    21
dtype: int64

In [5]:
print(info.apply(np.sum, axis = 1))

0    9
1    9
2    9
dtype: int64

In [6]:
print(info.apply(np.sqrt))

          P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

In [8]:
info = pd.DataFrame([[1,5,7],[2,7,8],[3,6,9]],columns = ['X','Y','Z'])
print(info.agg(['min','max']))

     X  Y  Z
min  1  5  7
max  3  7  9

In [10]:
d2  = pd.DataFrame([['Dale',123],['Mark' ,143]],columns = ['Emp',
                                                          'ID'])
print(d2)
d2['Age'] = [35,40]
print(d2)
d  = d2.assign(Sex = ['Male','Male'])
print(d)

    Emp   ID
0  Dale  123
1  Mark  143
    Emp   ID  Age
0  Dale  123   35
1  Mark  143   40
    Emp   ID  Age   Sex
0  Dale  123   35  Male
1  Mark  143   40  Male

In [15]:
info = pd.DataFrame(np.random.randn(5,2), index = [3,2,0,4,1], columns = ['col3','col4'])
print(info)

       col3      col4
3 -2.053796 -0.545331
2 -1.053373  1.271054
0 -0.546001  0.104741
4  1.556728 -0.137387
1  0.678334 -0.351694

In [17]:
info2 = info.sort_index()
#info3 = info.sort_value(by = 'col3')
print(info2)

       col3      col4
0 -0.546001  0.104741
1  0.678334 -0.351694
2 -1.053373  1.271054
3 -2.053796 -0.545331
4  1.556728 -0.137387

In [18]:
left = pd.DataFrame({'id': [1,2,3,4,5], 'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 'sub': ['sub1', 'sub2', 'sub4', 'sub6', 'sub7']})
print(left)

   id    Name   sub
0   1    Alex  sub1
1   2     Amy  sub2
2   3   Allen  sub4
3   4   Alice  sub6
4   5  Ayoung  sub7

In [19]:
right = pd.DataFrame({'id': [1,2,3,4,5], 'Name': ['Billy', 'Brian', 'Bran', 
                                                 'Bryce', 'Betty'], 'sub': ['sub2', 'sub4', 'sub3', 'sub6', 'sub5']})
print(right)

   id   Name   sub
0   1  Billy  sub2
1   2  Brian  sub4
2   3   Bran  sub3
3   4  Bryce  sub6
4   5  Betty  sub5

In [20]:
print(pd.merge(left,right, on = 'id'))

   id  Name_x sub_x Name_y sub_y
0   1    Alex  sub1  Billy  sub2
1   2     Amy  sub2  Brian  sub4
2   3   Allen  sub4   Bran  sub3
3   4   Alice  sub6  Bryce  sub6
4   5  Ayoung  sub7  Betty  sub5