In [5]:
import pandas as pd
d = pd.read_csv("C:/Users/Tcs/Downloads/employees.csv")
print(d)

    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male    8/6/1993        12:42 PM   97308    6.945
1       Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male    3/4/2005         1:00 PM  138705    9.340
4        Larry    Male   1/24/1998         4:47 PM  101004    1.389
..         ...     ...         ...             ...     ...      ...
995      Henry     NaN  11/23/2014         6:09 AM  132483   16.655
996    Phillip    Male   1/31/1984         6:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013         4:45 PM   60500   11.985
999     Albert    Male   5/15/2012         6:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
1                True                   NaN
2               False               Finance
3                True               Finance
4                True       Client Services
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[1000 rows x 8 columns]

In [6]:
df = pd.DataFrame(d)
print(df.columns)

Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
       'Bonus %', 'Senior Management', 'Team'],
      dtype='object')

In [7]:
print(df.shape)

(1000, 8)

In [8]:
print(df['Salary'])

0       97308
1       61933
2      130590
3      138705
4      101004
        ...
995    132483
996     42392
997     96914
998     60500
999    129949
Name: Salary, Length: 1000, dtype: int64

In [11]:
print(df[2:5])

  First Name  Gender Start Date Last Login Time  Salary  Bonus %  \
2      Maria  Female  4/23/1993        11:17 AM  130590   11.858
3      Jerry    Male   3/4/2005         1:00 PM  138705    9.340
4      Larry    Male  1/24/1998         4:47 PM  101004    1.389

  Senior Management             Team
2             False          Finance
3              True          Finance
4              True  Client Services

In [21]:
print(df.loc[12])

First Name                   Brandon
Gender                          Male
Start Date                 12/1/1980
Last Login Time              1:08 AM
Salary                        112807
Bonus %                       17.492
Senior Management               True
Team                 Human Resources
Name: 12, dtype: object

In [18]:
print(d.loc[d['Salary']==63241])

   First Name  Gender Start Date Last Login Time  Salary  Bonus %  \
10     Louise  Female  8/12/1980         9:01 AM   63241   15.132

   Senior Management Team
10              True  NaN

In [ ]:
3