In [2]:
import pandas as pd
df = pd.DataFrame()
print(df)
emp = pd.Series(['Parker', 'John', 'Smith', 'William'])
id = pd.Series([102,107,109,114])
frame = {'Emp': emp, 'ID': id}
result = pd.DataFrame(frame)
print(result)

Empty DataFrame
Columns: []
Index: []
       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [3]:
result['Age'] = pd.Series([35,24,40,38])
print(result)

       Emp   ID  Age
0   Parker  102   35
1     John  107   24
2    Smith  109   40
3  William  114   38

In [4]:
del result['ID']
print(result)

       Emp  Age
0   Parker   35
1     John   24
2    Smith   40
3  William   38

In [6]:
print(result.loc[1])

Emp    John
Age      24
Name: 1, dtype: object

In [7]:
print("Slicing rows\n", result[1:2])

Slicing rows
     Emp  Age
1  John   24

In [9]:
d2 = pd.DataFrame([['Dale',123], ['Mark',143]], columns = ['Emp','Age'])
print(result.append(d2))

       Emp  Age
0   Parker   35
1     John   24
2    Smith   40
3  William   38
0     Dale  123
1     Mark  143

C:\Users\Tcs\AppData\Local\Temp\ipykernel_6416\356705569.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(result.append(d2))

In [10]:
print(result.drop(1))

       Emp  Age
0   Parker   35
2    Smith   40
3  William   38